<!DOCTYPE html>

<html ng-app="ProjetoMicroApp" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Projeto Microcontroladores</title>

  <link rel="stylesheet" href="bootstrap.css" />
  <link rel="stylesheet" href="styles.css" />

  <script src="angular.js"></script>
  <script src="bootstrap.js"></script>
  <script src="app.js"></script>
  <script src="hls.js"></script>
</head>

<body ng-controller="ProjetoMicroController">

  <!-- Início da Barra de Navegação -->
  <div class="NavigationBar" style="">
    <center class="Add10pxMargin">
      <button class="btn btn-primary" ng-click="AlterarViewCriarMissao()"><b>Criar Missão</b></button>
      <button class="btn btn-primary" ng-click="AlterarViewSelecionarMissao()"><b>Selecionar Missão</b></button>
      <button class="btn btn-primary" ng-click="AlterarViewExibirMissao()"><b>Exibir Missão</b></button>
    </center>
  </div>
  <!-- Fim da Barra de Navegação -->

  <div class="container">
    <br />
    <div class="card">

      <!-- Tela de Criação de Missão -->
      <div id="CriacaoMissao" ng-if="CriarMissao">
        <div class="card-header card-title text-primary text-center"><b>Criação da Missão</b></div>
        <div class="card-body">

          <center>
            <input class="form-group" />
            <br />
            <input class="form-group" />
            <br />
            <input class="form-group" />
            <br />
            <input class="form-group" />
            <br />
            <input class="form-group" />
            <br />
            <input class="form-group" />
          </center>

        </div>
      </div>
      <!-- Fim da Tela de Criação de Missão -->

      <!-- Tela de Seleção de Missão -->
      <div id="SelecaoMissao" ng-if="SelecionarMissao">
        <div class="card-header card-title text-primary text-center"><b>Seleção da Missão</b></div>
        <div class="card-body">

          <center>
            <select class="form-group">
              <option>Missao1</option>
              <option>Missao2</option>
              <option>Missao3</option>
              <option>Missao4</option>
            </select>
          </center>

        </div>
      </div>
      <!-- Fim da Tela de Seleção de Missão -->

      <!-- Tela de Exibição de Missão -->
      <div id="ExibicaoMissao" ng-if="ExibirMissao">
        <div class="card-header card-title text-primary text-center"><b>Exibição da Missão</b></div>
        <div class="card-body">
          <br />

          <!-- Primeiro Card -->
          <div class="card-group col-12">

            <!-- Primeiro Infográfico -->
            <div class="card card-body">
              INFOGRAFICO DOS SENSORES
              <br />
              INFOGRAFICO DOS SENSORES
              <br />
              INFOGRAFICO DOS SENSORES
              <br />
              INFOGRAFICO DOS SENSORES
              <br />
              INFOGRAFICO DOS SENSORES
              <br />
              INFOGRAFICO DOS SENSORES
              <br />
              INFOGRAFICO DOS SENSORES
            </div>
            <!-- Fim do Primeiro Infográfico -->

            <!-- Segundo Infográfico -->
            <div class="card card-body">
              INFORMACOES DA MISSAO
              <br />
              INFORMACOES DA MISSAO
              <br />
              INFORMACOES DA MISSAO
              <br />
              INFORMACOES DA MISSAO
              <br />
              INFORMACOES DA MISSAO
              <br />
              INFORMACOES DA MISSAO
              <br />
              INFORMACOES DA MISSAO
            </div>
            <!-- Fim do Segundo Infográfico -->

          </div>
          <!-- Fim do Primeiro Card -->

          <!-- Segundo Card -->
          <br />
          <div class="card-group col-12">
            <div class="card card-body">

              <video id="video" controls width="800"></video>

              <script>
                const video=document.getElementById('video');
                const hls=new Hls();
                hls.loadSource('http://localhost:8000/playlist.m3u8');
                hls.attachMedia(video);
              </script>

            </div>
          </div>
          <br />
          <!-- Fim do Segundo Card -->

        </div>
      </div>
      <!-- Fim da Tela de Exibição de Missão -->

    </div><!-- Card -->
    <br /><!-- Padding Inferior -->
  </div><!-- Container -->
</body>
</html>