# Impede que a pasta "videos" e todos os arquivos dentro dela sejam versionados
videos/

# Arquivos compilados do Python
__pycache__/
*.pyc
*.pyo

# Ambiente virtual (caso seja criado)
venv/
env/
.env/

# Configurações do VSCode
.vscode/

# Logs gerais
*.log

# Arquivos temporários de sistema
.DS_Store
Thumbs.db
/Frontend/.vs/Projeto Microcontroladores/FileContentIndex/b74e57ca-ea5a-4a11-8cdd-2e3a29da251b.vsidx
/.vs/projeto-micro/v17
/Frontend/.vs/Projeto Microcontroladores/v17/.suo
/Frontend/Projeto Microcontroladores.sln
/Frontend/.vs/Projeto Microcontroladores/v17/DocumentLayout.json
/.vs/projeto-micro/FileContentIndex/8b0069a5-6be0-400c-a483-3c8651952359.vsidx
/.vs/projeto-micro/FileContentIndex
/.vs
